body {
    background-color: #f96a6a;
}

.login-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

mat-form-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

mat-card-actions {
    margin-left: 180px;
    color: #f96a6a; 
    font-family: 'Trocchi', serif; 
}
  
.dugmici {
    background-color: #f96a6a;
    text-align: center;
    color: whitesmoke; 
    font-family: 'Trocchi', serif;
    font-size: 20px;
  }

.slika {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
