<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <mat-card class="login-card">
        <mat-card-title-group>
            <img mat-card-lg-image class="slika" src="../../assets/logo.jpg">
        </mat-card-title-group>
        <mat-card-content>
            <div class="main-div">
                <form [formGroup]="loginForm" class="login-form">
                    <mat-form-field appearance="legacy">
                        <mat-label for="username">KORISNIČKO IME</mat-label>
                        <input type="text" class="form-control" formControlName="username" id="user_name" matInput>
                        <mat-error *ngIf="postojiGreska('username', 'required')">Potrebno je uneti korisničko ime!</mat-error>
                        <mat-icon matSuffix>person_outline</mat-icon>
                    </mat-form-field>
                    <br>
                    <br>
                    <mat-form-field appearance="legacy">
                        <mat-label for="password">LOZINKA</mat-label>
                        <input type="password" class="form-control" formControlName="password" id="password" matInput>
                        <mat-error *ngIf="postojiGreska('password', 'required')">Potrebno je uneti lozinku!</mat-error>
                        <mat-icon matSuffix>lock_open</mat-icon>
                    </mat-form-field>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit" class="dugmici" id="login_button" (click)="login()"
                [disabled]="loginForm.invalid">PRIJAVI SE</button>
        </mat-card-actions>
    </mat-card>
</body>