<body> 
    <h1 mat-dialog-title>Unesite parametre za pretragu:</h1>
    <form class="form" [formGroup] = "pretraga">
        <mat-form-field style="width:80%;" appearance="legacy">
            <mat-label for="tekst">TEKST</mat-label>
            <input type="text" class="form-control" formControlName="tekst"  matInput>
            <mat-error *ngIf = "requiredError('tekst', 'required')">Potrebno je uneti tekst za pretragu!</mat-error>
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <br/>
        <mat-form-field style="width:30%;" appearance="legacy">
            <mat-label for="broj">PRIKAŽI</mat-label>
            <input type="number" class="form-control" formControlName="broj"  matInput>
            <mat-error *ngIf = "requiredError('broj', 'required') || minError('min')">Potrebno je uneti broj knjiga za prikaz veći od 1!</mat-error>
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <br/>
        <div mat-dialog-actions>
            <button mat-raised-button [disabled] = "pretraga.invalid" (click)="pretrazi()">PRETRAŽI</button>
        </div>
    </form>

</body>