button {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #f96a6a; 
    width: 250px;
    text-align: center;
    color: whitesmoke; 
    font-family: 'Trocchi', serif;
    font-size: 20px;
}

mat-form-field {
    padding: 10px;
    left: 7%;
    color: #f96a6a;
    font-family: 'Raleway', cursive;
    background-color: whitesmoke;
}