<body>
    <br>
    <br>
    <br>
    <br>
  
    <div class="card_div">
      <mat-card class="server_profile_card">
        <img mat-card-lg-image name="profile_picture" class="profile_picture" src="../../assets/profil.png" >
          
          <mat-card-content>
            <div class="server_data">
              <span>{{korisnik?.korisnickoIme}}</span>
            </div>

            <mat-card-content>
                <div class="main-div">
                    <form [formGroup]="loginForm" class="login-form">
                        <mat-form-field appearance="legacy">
                            <mat-label for="ime">IME</mat-label>
                            <input type="text" class="form-control" formControlName="ime" id="imeKor" matInput>
                            <mat-error *ngIf="hasError('ime', 'required')">Potrebno je uneti ime!</mat-error>
                            <mat-icon matSuffix>person_outline</mat-icon>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="legacy">
                            <mat-label for="prezime">PREZIME</mat-label>
                            <input type="text" class="form-control" formControlName="prezime" id="prez" matInput>
                            <mat-error *ngIf="hasError('prezime', 'required')">Potrebno je uneti prezime!</mat-error>
                            <mat-icon matSuffix>lock_open</mat-icon>
                        </mat-form-field>
                    </form>
                </div>
            </mat-card-content>
          </mat-card-content>
  
          <mat-card-actions>
            <button mat-button (click) = "sacuvaj()" [disabled]="loginForm.invalid">SAČUVAJ</button>
          </mat-card-actions>
      </mat-card>
    </div>
    
    </body>
  
  
  
  