<body>
    <br>
    <br>
  
    <div class="card_div">
      <mat-card class="server_profile_card">
          <mat-card-content>
            <div class="server_data">
              <span>Dodavanje knjige</span>
            </div>

            <mat-card-content>
                <div class="main-div">
                    <form [formGroup]="loginForm" class="login-form">
                        <mat-form-field appearance="legacy">
                            <mat-label for="isbn">ISBN</mat-label>
                            <input type="text" class="form-control" formControlName="isbn" id="isbn" matInput>
                            <mat-error *ngIf="hasError('isbn', 'required')">Potrebno je uneti isbn!</mat-error>
                            <mat-icon matSuffix>view_day</mat-icon>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="legacy">
                            <mat-label for="naziv">NAZIV</mat-label>
                            <input type="text" class="form-control" formControlName="naziv" id="naziv" matInput>
                            <mat-error *ngIf="hasError('naziv', 'required')">Potrebno je uneti naziv!</mat-error>
                            <mat-icon matSuffix>view_day</mat-icon>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="legacy">
                            <mat-label for="pisci">PISCI</mat-label>
                            <input type="text" class="form-control" formControlName="pisci" id="pisci" matInput>
                            <mat-error *ngIf="hasError('pisci', 'required')">Potrebno je uneti pisce!</mat-error>
                            <mat-icon matSuffix>view_day</mat-icon>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="legacy">
                            <mat-label for="izdavackaKuca">IZDAVAČKA KUĆA</mat-label>
                            <input type="text" class="form-control" formControlName="izdavackaKuca" id="izdavackaKuca" matInput>
                            <mat-error *ngIf="hasError('izdavackaKuca', 'required')">Potrebno je uneti izdavačku kuću!</mat-error>
                            <mat-icon matSuffix>view_day</mat-icon>
                        </mat-form-field>
                        <br>
                        <br>
                        <mat-form-field appearance="legacy">
                            <mat-label for="zanrovi">ŽANROVI</mat-label>
                            <input type="text" class="form-control" formControlName="zanrovi" id="zanrovi" matInput>
                            <mat-error *ngIf="hasError('zanrovi', 'required')">Potrebno je uneti žanrove!</mat-error>
                            <mat-icon matSuffix>view_day</mat-icon>
                        </mat-form-field>
                    </form>
                </div>
            </mat-card-content>
          </mat-card-content>
  
          <mat-card-actions>
            <button mat-button (click) = "dodaj()" [disabled]="loginForm.invalid">DODAJ</button>
          </mat-card-actions>
      </mat-card>
    </div>
    
    </body>
  
  
  
  